<!DOCTYPE html>
<html>
  <head>
    <title><%= title || 'Goliath' %></title>
  </head>
  <body lang='en'>
    <h1 id='title'><%= title || 'Goliath' %> - I AM ERB</h1>

<%= yield %>

  </body>
</html>
