body {
  margin-top: 1.0em;
  background-color: #e3e3e3;
  font-family: "Helvetica,Arial,FreeSans";
  color: #000000;
}

#container {
  margin: 0 auto;
  width: 700px;
}

h1 {
  font-size: 3.8em;
  color: #1c1c1c;
  margin-bottom: 3px;
}

h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }

h2 {
  font-size: 1.5em;
  color: #1c1c1c;
}

h3 {
  text-align: center;
  color: #1c1c1c;
}

a { color: #1c1c1c; }

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
}

.download { float: right; }

pre {
  background: #000;
  color: #fff;
  padding: 15px;
  overflow: auto;
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}

.footer {
  text-align: center;
  padding-top: 30px;
  font-style: italic;
}

